@{
    ViewBag.Title = "Register";
}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}



@using (Html.BeginForm())
{
    <form>
        <div class="container">
            <div class="container">
                <h2>Create New Account</h2>
                <div class="form-group">
                    <div class="container">
                            <div class="myform">
                                <label for="username">Username</label>
                                <input name="username" class="form-control" type="text" />
                            </div>

                            <div class="myform">
                                <label for="password">Password</label>
                                <input name="password" class="form-control" type="password" />
                            </div>
                        <div>
                            <input class="btn btn-default" type="submit" value="Register" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div>
                        @Html.ActionLink("Already have an account? Sign in", "SignIn")
                    </div>
                    <div>
                        @Html.ActionLink("Forgot Password?", "ForgotPassword")
                    </div>
                </div>
            </div>
        </div>
    </form>
}

