@{
    ViewBag.Title = "About Poor Adrian's Almanac";
}
<!--<h2>@ViewBag.Title</h2> -->

<div class="jumbotron">
    <blockquote>
        <p>Think before you speak. Read before you think.</p>
        <footer>Fran Lebowitz</footer>
    </blockquote>
</div>
<div class="text-center">
    <h4>Contact Information</h4>
    <address>
        Plastic Tree<br />
        10 Melancholy Hill, IL 60477<br />
        <abbr title="Phone">P:</abbr>
        708.745.0113
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:ledadrian@gmail.com">ledadrian@gmail.com</a><br />
    </address>
</div>