@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homebanner paabanner">
    <h1>Poor Adrian's Almanac</h1>
    <p class="lead">Sharing our libraries.</p>
    <p><a href="/Book/List" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
</div>

<div class="row"><div class="col-md-4">

    <h2>List Your Library</h2>
    <p>
        Share your favorite books!
    </p>
    <p><a class="btn btn-info" href="#">Reviews &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Search by Category</h2>
        <p>Not sure what to read next? Choose books based on what you like!</p>
        <p><a class="btn btn-info" href="#">View Categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>Let everyone know about your feelings!</p>
        <p><a class="btn btn-info" href=#">Learn more &raquo;</a></p>
    </div>
</div>