@{ 
    ViewBag.Title = "Create";
}

<h2>Enter Book</h2>
<form method="post">
    <label for="Title">Title</label>
    <input type="text" name="Title" />
    <label for="Author">Author</label>
    <input type="text" name="Author" />
    <label for="Year">Year Published</label>
    <input type="number" name="Year" />
    <label for="CoverImage">Cover Image</label>
    <input type="url" name="CoverImage" />
    <button class="btn btn-default" type="submit">Enter</button>
</form>